@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #0062cc;
    --primary-dark: #004e9e;
    --primary-light: #4d94ff;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply font-sans text-gray-900 overflow-x-hidden;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4;
  }
}